<!doctype html>
<html>
<head>
    <meta charset="utf-8">
</head>

<body>
  <div>
    Добрый день!<br/><br/>
    Изменен заказ <a target="_blank" href="{{ order_link }}">{{ order_no }}</a> на сумму {{ total_amount }} рублей в интернет-магазине <a target="_blank" href="https://dari-cosmetics.ru">dari-cosmetics.ru</a><br/><br/>
    Оплатить заказ вы можете перейдя по <a target="_blank" href="{{ order_link }}">ссылке</a>.<br/><br/>
    Спасибо!<br/><br/>
    С уважением,<br/>
    <a target="_blank" href="https://dari-cosmetics.ru">Интернет-магазин dari-cosmetics.ru</a>
  </div>
</body>
</html>