<!doctype html>
<html>
<head>
    <meta charset="utf-8">
</head>

<body>
  <div>
    Добрый день!<br/><br/>
    Вы получили это письмо потому, что вы или кто-то иной запросили смену пароля для своего аккаунта.<br/>
    Если это были не вы, просто проигнорируйте это письмо. Иначе перейдите по <a target="_blank" href="{{ href }}">ссылке</a> для смены пароля.<br/><br/>
    С уважением,<br/>
    <a target="_blank" href="https://dari-cosmetics.ru">Интернет-магазин dari-cosmetics.ru</a>
  </div>
</body>
</html>