<!doctype html>
<html>
<head>
    <meta charset="utf-8">
</head>

<body>
  <div>
    Здравствуйте!<br/><br/>
    Поступила оплата по счету №{{ order_no }} от {{ order_date }} на сумму {{ order_amount }} руб.<br/><br/>
    Подробную информацию о платеже и счете вы можете увидеть в <a target="_blank" href="https://dari-cosmetics.ru">Личном кабинете</a>.<br/><br/>
    Как только заказ будет упакован и отправлен, мы отправим вам трек для отслеживания.<br/><br/>
    С уважением и благодарностью,<br/>
    <a target="_blank" href="https://dari-cosmetics.ru">коллектив интернет-магазина dari-cosmetics.ru</a>
  </div>
</body>
</html>